<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/total_log.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/body.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/navigation.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/carousel.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/date.css" />
<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/images/ooopic_1460463927.ico" media="screen" />
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/total.js"></script>
<script src="__PUBLIC__/js/navigation.js"></script>
<!--
<script src="__PUBLIC__/js/carousel.js"></script>
自行包装的图片轮播器备用
-->
<script src="__PUBLIC__/js/date.js"></script>
<title>
查寝
</title>
</head>
<body>
<div class="navigation"><!-- 导航栏 -->
<a href={:U('Home/Index/index');}>
<div class="navigation_remind cursor_pointer">
管理系统
</div>
</a>
<div class="navbar-toggle cursor_pointer">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</div>
<ul class="navigation_ul">
<a href={:U('Home/Index/index');}>
<li class="navigation_ul_li">
&nbsp;首页
</li>
</a>
<a href={:U('Home/Index/total_log');}>
<li class="navigation_ul_li navigation_active">
&nbsp;查寝
</li>
</a>
<a href={:U('Home/Index/dorm');}>
<li class="navigation_ul_li">
&nbsp;宿舍报修
</li>
</a>
<a href={:U('Home/Index/teach_log');}>
<li class="navigation_ul_li">
&nbsp;通知发布
</li>
</a>
<a href={:U('Home/Index/guestbook');}>
<li class="navigation_ul_li">
&nbsp;留言
</li>
</a>
</ul>
</div>
<div class="spacing">
</div>
<div class="stu_control container">
<div class="stu_welcome"><!-- 欢迎标语 -->
寝室人数到位统计
<div style="float:right;"><!-- QQ联系我 -->
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1023767856&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1023767856:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</a>
</div>
<div class="stu_outline">
</div>
</div>
<div class="stu_student"><!-- 学生页面 -->
<div class="stu_student_head">
欢迎：{$username}
<span style="float:right;">
{$classname}
</span>
</div>
<div class="stu_student_body">

<div class="stu_teacher"><!-- 老师进入看到的界面 -->
{$content}
</div>
</div>
</div>
</div>
<div class="stu_exit">
退出登录
</div>
<div class="total_bottom">
<span>技术支持</span>
<a href="http://www.wyysdsa.com/">奕弈</a>
</div>
</body>
</html>